## Задача 1 - Получаем базовую статистику из данных

В этом упражнеии ваша задача - открыть и изучить файл данных о погоде NOAA с помощью Pandas. Имя файла данных - `61532374444115dat.csv`, файл  расположен в папке «data» в этом репозитории.

### Советы по выполнению упражнения

- Используйте **в точности** те же имена переменных, что и в инструкциях, потому что ваши ответы будут автоматически оценены, и тесты, которые оценивают ваши ответы, зависят от того же форматирования или именования переменных, что и в инструкциях.

- **Пожалуйста**,

    - **Не изменяйте имена файлов**. Сделайте всю работу в файле `Exercise-5-problem-1.ipynb` (этом файле).
    - **Не копируйте/вставляйте ячейки в этом блокноте**. Мы используем автоматизированную систему оценки, которая не будет работать, если есть копии кодовых ячеек.
    - **Не изменяйте типы ячеек**. Вы можете добавить ячейки, но изменение типов ячеек для существующих ячеек (например, c кода на Markdown) также приведет к выходу из строя автоматизированной проверки.

### Условия успешного выполнения задания

- Импорт модуля Pandas
- Чтение данных с использованием pandas в переменную «data»
- Расчет ряда значений из файла данных, используемого в этой задаче
- Добавление комментариев, которые объясняют, что делают большинство строк в коде
- Отвечая на пару вопросов в конце упражнения
- Загрузка вашего блокнота в репозиторий

## Соглашение об использовании ИИ

**Введите свое имя в ячейку ниже** чтобы подтвердить, что вы следовали [принципам курса об использовании инструментов ИИ](https://geo-python-2024.readthedocs.io/ru/latest/course-info/ai-tools.html) и понимаете, что использование инструментов ИИ считается обманом.

ВАШ ОТВЕТ ЗДЕСЬ: Максим С.

### Часть 1 

Ваша первая задача - импортировать pandas и прочитать файл данных.

- Импортируйте модуль Pandas
- Прочитайте данные в переменную, называемую «data», используя pandas

**Подсказка**: При чтении данных вам нужно рассмотреть пару вещей:

- Входной файл находится в папке «data», и вам необходимо указать относительный путь к файлу при чтении файла в Pandas
- Значения без данных указываются с различным количеством символов `*` во входном файле. Вы можете подсказать это модулю pandas, указав следующий параметр в функции `read_csv ()`: `na_values=['*', '**', '***', '****', '*****', '******']`

In [2]:
from pandas import * # Импортировал пандас
import pandas as pd # Дал название пандас
data = pd.read_csv("data/6153237444115dat.csv", na_values=['*', '**', '***', '****', '*****', '******']) # Прочёл данные из файла

# Замените строку ниже вашим кодом

Убедитесь, что первые строки в DataFrame выглядят хорошо:

In [3]:
data.head()

,USAF,WBAN,YR--MODAHRMN,DIR,SPD,GUS,CLG,SKC,L,M,...,SLP,ALT,STP,MAX,MIN,PCP01,PCP06,PCP24,PCPXX,SD
0,28450,99999,201705010000,174.0,10.0,14.0,NaN,NaN,NaN,NaN,...,1009.2,NaN,984.1,NaN,NaN,NaN,NaN,NaN,NaN,35.0
1,28450,99999,201705010020,180.0,10.0,NaN,4.0,NaN,NaN,NaN,...,NaN,29.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,28450,99999,201705010050,190.0,10.0,NaN,4.0,NaN,NaN,NaN,...,NaN,29.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,28450,99999,201705010100,188.0,12.0,16.0,NaN,NaN,NaN,NaN,...,1009.1,NaN,984.0,NaN,NaN,NaN,NaN,NaN,NaN,35.0
4,28450,99999,201705010120,200.0,13.0,NaN,2.0,OBS,NaN,NaN,...,NaN,29.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Часть 2 

В ячейке ниже заполните значения переменных, чтобы дать ответы на эти вопросы:

- Сколько всего строк в данных (переменная `rows`)?
- Какие имена столбцов (переменная `column_names`)?
- Каковы типы данных столбцов (переменная `column_datatypes`)?

In [13]:
row_count = 5 # Количество строк в таблице
column_names = data.columns.values # Названия столбцов
column_datatypes = data.dtypes # Типы данных столбцов

# Замените строку ниже вашим кодом

In [6]:
# Распечатайте количество строк в DataFrame:
print(f"Всего {row_count} строк")

Всего 5 строк

In [7]:
# Распечатайте имена столбцов:
print(f"Имена колонок: \n{column_names}")

Имена колонок:
['USAF' 'WBAN' 'YR--MODAHRMN' 'DIR' 'SPD' 'GUS' 'CLG' 'SKC' 'L' 'M' 'H'
 'VSB' 'MW' 'MW.1' 'MW.2' 'MW.3' 'AW' 'AW.1' 'AW.2' 'AW.3' 'W' 'TEMP'
 'DEWP' 'SLP' 'ALT' 'STP' 'MAX' 'MIN' 'PCP01' 'PCP06' 'PCP24' 'PCPXX' 'SD']

In [14]:
# Распечатайте типы данных столбцов:
print(f"Типы данных колонок: \n{column_datatypes}")

Типы данных колонок:
USAF              int64
WBAN              int64
YR--MODAHRMN      int64
DIR             float64
SPD             float64
GUS             float64
CLG             float64
SKC              object
L               float64
M               float64
H               float64
VSB             float64
MW              float64
MW.1            float64
MW.2            float64
MW.3            float64
AW              float64
AW.1            float64
AW.2            float64
AW.3            float64
W               float64
TEMP            float64
DEWP            float64
SLP             float64
ALT             float64
STP             float64
MAX             float64
MIN             float64
PCP01           float64
PCP06           float64
PCP24           float64
PCPXX           float64
SD              float64
dtype: object

### Часть 3 

В ячейке ниже заполните значения переменных, чтобы ответить на вопросы:

- Какова средняя температура по Фаренгейту в данных (переменная `temp_mean`, рассчитанная по столбцу `TEMP`)?
- Каково стандартное отклонение максимальной температуры (переменная `temp_max_std`, рассчитанная по столбцу `MAX`)?
- Сколько уникальных станций существует в данных (переменная `station_count`, рассчитанная по столбцу `USAF`)?

In [15]:
# Рассчитайте среднюю температуру
temp_mean = data['TEMP'].mean()

# Рассчитайте стандартное отклонение максимальной температуры:
temp_max_std = data['MAX'].std()

# Рассчитайте количество уникальных станций:
station_count = len(data['USAF'].unique())

# Замените строку ниже вашим кодом

In [16]:
# Выведите среднее значение температуры на экран
print(f"Средняя температура в Фаренгейтах {round(temp_mean,1)}")

Средняя температура в Фаренгейтах 52.2

In [17]:
# Выведите значение стандартного отклонения
print(f"Стандартное отклонение максимальной температуры: {round(temp_max_std, 1)}")

Стандартное отклонение максимальной температуры: 10.3

In [18]:
# Выведите количество станций
print(f"Количество уникальных станций: {station_count}")

Количество уникальных станций: 2

### Итоги решения задачи 1

Были ли у вас проблемы с решением?

Убедись что:

- Убедитесь, что ваш код включает информативные комментарии, объясняющие, что делает ваш код
- Опубликуйте свои изменения в репозиторий для упражнения 5

Пожалуйста, напишите свои ответы и комментарии ниже (**активировать ячейку двойным щелчком**).

Ваш ответ здесь:
Все было понятно и легко

### К задаче 2

Теперь вы можете продолжить с [Задачей 2: Обработка и выбор данных](Exercise-5-problem-2.ipynb)